PORT=3500

DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=mysecretpassword
DB_DATABASE=home_automation_v2
DB_RESET_ON_START=true

TEST_ADMIN_FIRST_NAME=Test
TEST_ADMIN_LAST_NAME=Admin
TEST_ADMIN_CNP=1990101123457
TEST_ADMIN_PHONE=0711111111
TEST_ADMIN_PASSWORD=test1234

ESP32_DEVICE_ID=ESP32_MAIN_GATEWAY
ESP32_BASE_URL=http://192.168.1.93
ESP32_TIMEOUT_MS=3000
DEFAULT_SAMPLE_INTERVAL_MS=20000
DEFAULT_HYSTERESIS=0.5
LIGHT_NODE_IP=192.168.1.90
BOILER_NODE_IP=192.168.1.91
