node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Android - generated
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/app/capacitor.build.gradle
android/capacitor.settings.gradle
android/app/src/androidTest
android/app/src/test

# VSCode
.vscode